@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap');
@import './header.scss';
@import './home.scss';

:root {
  --clr-white: #FFF;
  --clr-black: #000;
  --clr-grey: #C4C4C4;
  --clr-blue: #325BEC;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all;
  transition-duration: 300ms;
}

html {
	scroll-behavior: smooth;
}

body {
  display: block;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 72px;
  font-weight: 700;
}

p {
  font-weight: 400;
}

.home-layout .container {
  padding-top: 148px;
}

.default-layout .container {
  padding-top: 81px;
}
